<ion-header>
  <ion-toolbar color="warning">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-card >
    <ion-card-header>
      <ion-card-title id="money" style="text-align: center;">Wally Money</ion-card-title><br>
      <ion-img width="80" height="80" src="assets/img/coins.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-button color="white"  routerLink="/customer-name"  expand="block" id="login" fill="clear"><b>ลงทะเบียน</b></ion-button>
  </ion-card>


</ion-content>
