<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Wally_money</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="backgroundlogin">
  <ion-card >
    <ion-card-header>
      <ion-card-title id="money" style="text-align: center;">Wally Money</ion-card-title><br>
      <ion-img width="80" height="80" src="https://png.pngtree.com/png-clipart/20190517/original/pngtree-wallet-cartoon-wallet-cute-wallet-pink-purse-png-image_3906338.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-button color="primary"  routerLink="/customer-name"  expand="block" >register</ion-button>
  </ion-card>


</ion-content>
