<ion-header>
  <ion-toolbar color="warning">
    <ion-title align="center">
      Wally Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: antiquewhite;">

  <ion-card id="show_balance" style=" background-color: rgb(35, 34, 34);">
    <ion-card-header>
      <ion-card-subtitle align="center" style="color:antiquewhite">Mr. {{full_name}}</ion-card-subtitle>
      <ion-card-subtitle align="center" style="font-size: 16px;color:antiquewhite">ยอดเงินคงเหลือ</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content align="center">
      <h1 style="color:antiquewhite">฿ {{ac_balance}}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card id="history" style="background-color: rgb(35, 34, 34);">
    <ion-card-header>
      <ion-card-subtitle align="center" style="font-size: 16px;color:antiquewhite">
        <ion-icon name="time-outline"></ion-icon> รายการธุรกรรมล่าสุด
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item-sliding *ngFor="let transaction of transactions">
        <ion-item>
          <ion-label style="text-align: left;font-size: 60%;font-family: Kanit;">
            {{transaction.ts_time}}
          </ion-label>
          <ion-label style="text-align: center;font-size: 60%;font-family: Kanit;">
            {{transaction.ts_name}}
          </ion-label>
          <ion-label style="text-align: right;font-size: 60%;font-family: Kanit;"
            [ngClass]="{greenClass : transaction.ts_category == 'E', redClass : transaction.ts_category != 'E'}">
            ฿ {{transaction.ts_cost}}
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning">
            <ion-icon name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option disabled color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>
</ion-content>