<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Wally Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align="center">คุณนิพิฐพนธ์ ถนัดกุลกิจ</ion-card-subtitle>
      <ion-card-subtitle align="center">ยอดเงินคงเหลือ</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content align="center">
      <h1>1000</h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align="center">History of Transaction</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ซื้อข้าวไข่เจียว </ion-label>
          <ion-label color="danger" style="text-align: right;">฿ 45</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ซื้อเสื้อผ้า</ion-label>
          <ion-label color="danger" style="text-align: right;">฿ 109</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ซื้อรองเท้า</ion-label>
          <ion-label color="danger" style="text-align: right;">฿ 499</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
              <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
          <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
          <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
        </ion-item>
        
        </ion-list>
      </ion-card-content>
  </ion-card>

  <ion-button expand="full">Full Button</ion-button>
</ion-content>