<script src="node_modules/chart.js/src/chart.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title align="center">
      Wally Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-header>
      <ion-card-subtitle align="center">สรุปยอดค่าใช้จ่าย</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-toolbar>
        <ion-segment class="ios in-toolbar hydrated" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="re">รายรับ-รายจ่าย</ion-segment-button>
          <ion-segment-button value="cate">ประเภทรายการ</ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <br>
          <canvas baseChart
          [data]="cateChartData"
          [labels]="cateChartLabels"
          [chartType]="cateChartType"
          [options]="cateOption"></canvas>
      <br>
      <select align="right" name="" id="">
        <option value="">Jan</option>
        <option value="">Feb</option>
        <option value="">Mar</option>
        <option value="">Apr</option>
        <option value="">May</option>
        <option value="">Jun</option>
        <option value="">Jul</option>
        <option value="">Aug</option>
        <option value="">Sep</option>
        <option value="">Oct</option>
        <option value="">Nov</option>
        <option value="">Dec</option>
      </select>
    </ion-card-content>
  </ion-card>

</ion-content>