<script src="node_modules/chart.js/src/chart.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title align="center">
      Wally Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align="center">อัตราการใช้เงินในแต่ละวัน</ion-card-subtitle>
    </ion-card-header>
    <!-- <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [options]="donutOptions"
  ></canvas> -->

  </ion-card>
  

  
</ion-content>
