<script src="node_modules/chart.js/src/chart.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title align="center">
      Wally Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-subtitle align="center" style="color: black">สรุปยอดค่าใช้จ่าย</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <!-- <ion-toolbar>
        <ion-segment class="ios in-toolbar hydrated">
          <ion-segment-button value="re">รายรับ-รายจ่าย</ion-segment-button>
          <ion-segment-button value="cate">ประเภทรายการ</ion-segment-button>
        </ion-segment>
      </ion-toolbar> -->
      <br>
      <canvas baseChart [data]="transactionChartData" [labels]="transactionChartLabels"
        [chartType]="transactionChartType" [options]="transactionOption"></canvas>
      <br>
      <canvas baseChart [data]="categoryChartData" [labels]="categoryChartLabels" [chartType]="categoryChartType"
        [options]="categoryOption"></canvas>

    </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-card-content>
      <ion-label style="font-family: Kanit;">ช่วงเวลา</ion-label>
      <ion-select interface="popover" [(ngModel)]="item" (ionChange)="build_chart()">
        <ion-select-option *ngFor="let item of selector_month_year" [value]="item">
          {{item.value}}
        </ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

</ion-content>