<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title align="center">Wally Money</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title style="text-align: center" id="font" size="10">
        <ion-icon name="time-outline"></ion-icon>ประวัติการทำธุรกรรม
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ios hydrated">
        <ion-col class="ios hydrated">
          <div>
            <ion-datetime value="1990-02-19" placeholder="Select Date" role="combobox" aria-expanded="false"
              aria-haspopup="true" aria-labelledby="ion-dt-5-lbl" class="ios in-item hydrated"><input type="hidden"
                class="aux-input" name="ion-dt-5" value="1990-02-19"></ion-datetime>
          </div>
        </ion-col>
        <ion-col class="ios hydrated">
          <div>
            <ion-datetime value="1990-02-19" placeholder="Select Date" role="combobox" aria-expanded="false"
              aria-haspopup="true" aria-labelledby="ion-dt-5-lbl" class="ios in-item hydrated"><input type="hidden"
                class="aux-input" name="ion-dt-5" value="1990-02-19"></ion-datetime>
          </div>
        </ion-col>
        <ion-col class="ios hydrated">
          <div>
            <ion-icon name="search-circle-outline" size="large"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </ion-card-content>
    <ion-card-content>
      <ion-segment value="all" class="ios in-toolbar hydrated" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all"
          class="ios in-toolbar in-segment segment-button-has-label segment-button-has-label-only segment-button-layout-icon-top ion-activatable ion-activatable-instant ion-focusable hydrated segment-button-checked">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">วัน</ion-label>
        </ion-segment-button>
        <ion-segment-button value="favorites"
          class="ios in-toolbar in-segment segment-button-has-label segment-button-has-label-only segment-button-layout-icon-top ion-activatable ion-activatable-instant ion-focusable hydrated segment-button-after-checked">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">เดือน</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="this.history_type == 'month'">
        <ion-card-content>
          <ion-item-sliding *ngFor="let transactions of transactions2">
            <ion-item>
              <ion-label style="text-align: left;font-size: 60%;font-family: Kanit;">
                {{transactions.ts_date}}
              </ion-label>
              <ion-label style="text-align: center;font-size: 65%;font-family: Kanit;">
                {{transactions.ts_name}}
              </ion-label>
              <ion-label style="text-align: right;font-size: 65%;font-family: Kanit;"
                [ngClass]="{greenClass : transactions.ts_category == 'E', redClass : transactions.ts_category != 'E'}">
                ฿ {{transactions.ts_cost}}
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-card-content>
      </div>
      <div *ngIf="this.history_type == 'day'">

        <ion-card-content>
          <ion-item-sliding *ngFor="let transactions of transactions">
            <ion-item>
              <ion-label style="text-align: center;font-size: 60%;font-family: Kanit;">
                {{transactions.ts_name}}
              </ion-label>
              <ion-label style="text-align: right;font-size: 60%;font-family: Kanit;"
                [ngClass]="{greenClass : transactions.ts_category == 'E', redClass : transactions.ts_category != 'E'}">
                ฿ {{transactions.ts_cost}}
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-card-content>
      </div>