<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><h2>WOLLY MONEY</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
   <ion-title style="text-align: center;"><ion-icon name="time-outline"></ion-icon>ประวัติการทำธุรกรรม</ion-title>
</ion-card-header>
<ion-card-content>
  <ion-list>
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ซื้อข้าวไข่เจียว </ion-label>
      <ion-label color="danger" style="text-align: right;">฿ 45</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ซื้อเสื้อผ้า</ion-label>
      <ion-label color="danger" style="text-align: right;">฿ 109</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ซื้อรองเท้า</ion-label>
      <ion-label color="danger" style="text-align: right;">฿ 499</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
          <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label style="text-align: left;">18/02/2563</ion-label>
      <ion-label style="text-align: center;">ได้รับเงิน</ion-label>
      <ion-label color="success" style="text-align: right;">฿ 300</ion-label>
    </ion-item>
    
    </ion-list>
  </ion-card-content>
  <ion-card>
    <ion-card-header>
     <ion-title style="text-align: center;">฿ 3635.00</ion-title>
  </ion-card-header>

</ion-card>

