<ion-header>
  <ion-toolbar color="warning">
    <ion-title align="center"> Wally money </ion-title>
    <ion-buttons slot="start">
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-title id ="title_name"  style="text-align: center;">ยินดีต้อนรับเข้าสู่ Wally money</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <br>
  <ion-item>
    
    <ion-input placeholder="ชื่อผู้ใช้งาน" [(ngModel)]="username" name="username"  > </ion-input>
  </ion-item>
  <br>

  <ion-item>
    <br>
    <ion-input placeholder="รหัสผ่าน" [(ngModel)]="password" name="password" type="password"> </ion-input>
  </ion-item>
    </ion-card-content>
    <br>

    <ion-card-content>
       
        <div><ion-button style="--background:#ffc409" (click)="clickmain()" size="default" expand="block"  id="reg" fill="clear">ยืนยัน</ion-button></div>
        <div><ion-button  routerLink="/register" size="default"  expand="block" id="reg" fill="clear">ลงทะเบียน</ion-button></div>
    </ion-card-content>

    
<!-- routerLink="/main_tab" href="/main_tab" routerDirection="forward" -->


   <br>
  </ion-card> 
 
  <!-- (click)="insert_customer()"  -->
 

</ion-content>