<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Wally_money </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title id ="title_name"  style="text-align: center;" >Sign in</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h1 id ="textsize">Name</h1>
  <ion-item>
    <ion-input placeholder="Enter Input"> </ion-input>
  </ion-item>
  <br>
  <h1 id ="textsize">Last name </h1>
  <ion-item>
    <br>
    <ion-input placeholder="Enter Input"> </ion-input>
  </ion-item>
    </ion-card-content>
    <ion-button color="primary"  routerLink="/main_tab" expand="block" >Sign in</ion-button>
  </ion-card>



</ion-content>