<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Wally_money </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title id ="title_name"  style="text-align: center;" >Sign in</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h1 id ="textsize">Name</h1>
  <ion-item>
    
    <ion-input placeholder="Enter Input" name="name"> </ion-input>
  </ion-item>
  <br>
  <h1 id ="textsize">Last name </h1>
  <ion-item>
    <br>
    <ion-input placeholder="Enter Input" name="lastname"> </ion-input>
  </ion-item>
    </ion-card-content>
    <br>
   <ion-button color="primary"  routerLink="/main_tab" expand="block" >ยืนยัน</ion-button>  <!-- /*routerLink="/main_tab" -->
   <br>
  </ion-card> 
 
  <!-- (click)="insert_customer()"  -->
 

</ion-content>