<ion-header>
  <ion-toolbar color="dark">
    <ion-title align="center" style="color: white;">Wally Money</ion-title>
  </ion-toolbar>
</ion-header>



<ion-card style="background-color:#ffc409; color: black;">
  <ion-card-header>
    <ion-title style="text-align:center; color:black;">
      <ion-icon _ngcontent-pqu-c3="" name="time-outline" ng-reflect-name="time-outline" role="img" class="md hydrated"
        aria-label="time outline"></ion-icon> บัญชีผู้ใช้
    </ion-title>
    <ion-card-content>
      <br>
      <div style="text-align: left; font-size: 20px;">ชื่อ</div>
      <ion-item>
        <br>
        <ion-input [(ngModel)]="ac_fname" name="ac_fname" readonly value="{{ac_fname}}"></ion-input>
      </ion-item>
      <div style="text-align: left; font-size: 20px;">นามสกุล</div>
      <ion-item>
        <br>
        <ion-input [(ngModel)]="ac_lname" name="ac_lname" readonly value="{{ac_lname}}"></ion-input>
      </ion-item>
    </ion-card-content>
    <br>

    <ion-card-content>

      <div>
        <ion-button style="--background:#000000" (click)="edit_account()" size="default" expand="block" id="reg"
          fill="clear">แก้ไข</ion-button>
      </div>
      <div>
        <ion-button style="--background:#000000" (click)="sign_out()" size="default" expand="block" id="reg"
          fill="clear">ลงชื่อออก</ion-button>
      </div>

    </ion-card-content>


  </ion-card-header>


</ion-card>




<ion-content>

</ion-content>