<ion-header>
  <ion-toolbar color="dark">
    <ion-title align="center" style="color: white;">Wally Money</ion-title>
  </ion-toolbar>
</ion-header>



<ion-card style="background-color:#ffc409; color: black;">
  <ion-card-header>
    <ion-title style="text-align:center; color:black;">
      <ion-icon _ngcontent-pqu-c3="" name="time-outline" ng-reflect-name="time-outline" role="img" class="md hydrated"
        aria-label="time outline"></ion-icon> ชื่อผู้ใช้งาน

    </ion-title>
    <ion-card-content>
      <br>
   <ion-item>
     <br>
     <ion-input  [(ngModel)]="fname" name="fname"  readonly>{{fname}}</ion-input>
   </ion-item>
   <ion-item>
     <br>
     <ion-input  [(ngModel)]="lname" name="lname" type="lname" readonly>{{lname}}</ion-input>
   </ion-item>
     </ion-card-content>
     <br>

     <ion-card-content>
        
         <div><ion-button style="--background:#000000" (click)="ClickEdit()" size="default" expand="block"  id="reg" fill="clear">แก้ไข</ion-button></div>
         
     </ion-card-content>


  </ion-card-header>
  
  
</ion-card>




<ion-content>

</ion-content>
