#title_name{
    margin: center;
      font-family: Kanit;
     font-size: 30px;
  }
  
  #textsize{
    font-size: 22px;
    font-family: Kanit;
  }

  #reg{
    color:black;
  }

  #textname{
    font-size: 15px;
    color:black;
    
  }


  * {
    font-family: Kanit;
  }